/* @HOME */
/* ********** */
// General
html{
    font-family: $tipografia;
}
//  Títulos
h4{
    font-size: $fontSizeGeneral;
    font-weight: $fontBold;
}
h5{
    font-size: $fontSizeGeneral;
    font-weight: $fontWeightBold;
}

h6{
    font-size: $fontSize;
    font-weight: $fontSizeGeneral;
}
// Header
header{
    padding: .3125rem 15px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .container1{
        padding: 1rem;
        .camaraFrente{
            background-color:$colorFondo;
            &__descripcion{
                padding-bottom: 2rem;
            }
        }
    }
    &__container2{
        .camaraArriba{
            &__opciones{
                padding: 1rem;
            }
        }
    }
    &__lente{
        background-color: $blancoFondo;
        .lente{
            .explicacionLente{
                padding: 1rem;
                font-size: $fontSizeGeneral;
                font-weight: $fontBold;
            }
        }
    }
}
// Footer
footer{
    padding: 0 16px;
    background-color: $grisFooter;
}